@import "./variables";
@import "./reset";
@import "./header";
@import "./aside";
@import "./searchResult";
@import "./movie";
@import "./settings.scss";
@import "./startArrow.scss";

body {
  background-color: rgb(238, 238, 238);
  display: flex;
}
.main {
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color:var(--main-color);
}

main,footer,html,body,header{
  scroll-behavior: smooth; 

.title {
  text-align: center;
  @extend %roboto-slab;
  margin-bottom: 20px;
}