.main__arrow {
  top: 30px;
  left: 20px;
  position: fixed;
  width: 50px;
  height: 50px;
  // background-color: $blue;
  border-radius: 50%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 200ms linear;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  &--hidden {
    opacity: 0;
    visibility: hidden;
    position: none;
    transform: scale(0);
  }
  &:hover {
    // background-color: $grey;
    & svg {
      // fill: $blue;
    }
  }
  svg {
    transition: 200ms linear;
    transform: rotate(180deg);
    // fill: $white;
  }
}
