
{{#each results}}
<div class="card">
  <div class="card__img-wrapper">
    {{#if this.poster_path}}
    <img width="350" height="400" class="card__img" src="https://image.tmdb.org/t/p/w500{{this.poster_path}}" />
    {{/if}}
    {{#unless this.poster_path}}
    <img width="350" height="400" alt="no-poster" class="card__img" src="./images/no-poster.png" />
    {{/unless}}
  </div>
  <div class="card__menu-wrapper">
    <div class="card__lang">{{this.original_language}}</div>
    <div class="card__menu">
      <span type="button" class="card-menu__btn card-menu__rating">{{this.vote_average}}</span>
      <button type="button" class="card-menu__btn">
        <i class="material-icons">playlist_add</i>
      </button>
      <button type="button" class="card-menu__btn">
        <i class="material-icons">favorite</i>
      </button>
      <button type="button" class="card-menu__btn">
        <i class="material-icons">info</i>
      </button>
    </div>
    <h2 class="card__headline">{{this.title}}</h2>
  </div>
</div>
{{/each}}