<aside class="bar">
  <h2 class="bar__controls-headline bar__headline">Free movie</h2>
  <ul class="controls__list">
    <li class="controls__item" data-action="playingNow">
      <span class="controls__link">
      <i class="material-icons">play_circle_outline</i>
        Playing now</span>
      <span class="controls__counter">0</span>
    </li>
    <li class="controls__item" data-action="upcoming">
      <span class="controls__link">
      <i class="material-icons">date_range</i>
        Coming soon</span>
      <span class="controls__counter">2</span>
    </li>
    <li class="controls__item" data-action="favorite">
      <span class="controls__link">
      <i class="material-icons">favorite_border</i>
        Favorite movies</span>
      <span class="controls__counter controls__counter--favorite">10</span>
    </li>
    <li class="controls__item" data-action="playlist">
      <span class="controls__link">
      <i class="material-icons">watch_later</i>
        Watch later</span>
      <span class="controls__counter controls__counter--watch-later">15</span>
    </li>
  </ul>
  <h2 class="bar__movies-headline bar__headline">Top movies</h2>
  <ul class="best-movies__list">
    
  </ul>
</aside>