<header class="header">
  <input tabindex="1" placeholder="Search movie..." class="header__search" type="text">
  <i class="material-icons header__icon">send</i>
  <div class="header__controls-wrapper">
    <span class="material-icons header__settings">settings</span>
    <!-- settings -->
    <button class="header__burger">
      <span class="burger__part burger__part--1"></span>
      <span class="burger__part burger__part--2"></span>
      <span class="burger__part burger__part--3"></span>
    </button>
  </div>
</header>