<section class="movie-info">
  <div class="info__background">
    <div class="background__content-wrapper">
      <div class="background__img-wrapper">
        <img width="350" class="background__img"
          src="https://www.megacritic.ru/media/reviews/photos/thumbnail/640x640s/2e/0e/bc/843650-22-1553011940.jpg" />
      </div>
      <div class="background__text-wrapper">
        <span class="background__year background__text">2020</span>
        <h2 class="background__headline background__text">Marvel</h2>
        <p class="background__tagline background__text">Tagline: <span>Lorem ipsum dolor sit amet.</span></p>
        <p class="background__genre background__text">Genre: <span>Lorem, ipsum dolor.</span></p>
        <div class="best-movies__rating info__rating">
          <span class="rating__text">8.9</span>
        </div>
      </div>
    </div>
  </div>
  <p class="info__text">
    <span>Home page: </span>
    <a href="https://www.marvel.com/" class="info__home-page-link">https://www.marvel.com/</a>
  </p>
  <p class="info__text">
    <span>Summary:</span>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptate libero unde vitae
    saepe sunt perferendis expedita, error fuga voluptates tempora magnam laboriosam, laborum recusandae ea tenetur
    optio necessitatibus porro.
  </p>
  <iframe class="info__trailer" width="947" height="539" src="https://www.youtube.com/embed/Ke1Y3P9D0Bc" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</section>