<section class="search-result">
  <div class="card">
    <div class="card__img-wrapper">
      <img width="350" class="card__img"
        src="https://www.megacritic.ru/media/reviews/photos/thumbnail/640x640s/2e/0e/bc/843650-22-1553011940.jpg" />
    </div>
    <div class="card__menu-wrapper">
      <div class="card__menu">
        <button type="button" class="card-menu__btn">=</button>
        <button type="button" class="card-menu__btn">+</button>
        <button type="button" class="card-menu__btn">-</button>
        <button type="button" class="card-menu__btn">*</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img-wrapper">
      <img width="350" class="card__img"
        src="https://www.megacritic.ru/media/reviews/photos/thumbnail/640x640s/2e/0e/bc/843650-22-1553011940.jpg" />
    </div>
    <div class="card__menu-wrapper">
      <div class="card__menu">
        <button type="button" class="card-menu__btn">=</button>
        <button type="button" class="card-menu__btn">+</button>
        <button type="button" class="card-menu__btn">-</button>
        <button type="button" class="card-menu__btn">*</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img-wrapper">
      <img width="350" class="card__img"
        src="https://www.megacritic.ru/media/reviews/photos/thumbnail/640x640s/2e/0e/bc/843650-22-1553011940.jpg" />
    </div>
    <div class="card__menu-wrapper">
      <div class="card__menu">
        <button type="button" class="card-menu__btn">=</button>
        <button type="button" class="card-menu__btn">+</button>
        <button type="button" class="card-menu__btn">-</button>
        <button type="button" class="card-menu__btn">*</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img-wrapper">
      <img width="350" class="card__img"
        src="https://www.megacritic.ru/media/reviews/photos/thumbnail/640x640s/2e/0e/bc/843650-22-1553011940.jpg" />
    </div>
    <div class="card__menu-wrapper">
      <div class="card__menu">
        <button type="button" class="card-menu__btn">=</button>
        <button type="button" class="card-menu__btn">+</button>
        <button type="button" class="card-menu__btn">-</button>
        <button type="button" class="card-menu__btn">*</button>
      </div>
    </div>
  </div>
</section>